name: Publishing

on:
  workflow_dispatch:
  push:
    tags:
      # Publish on any tag starting with a `v`, e.g., v0.1.0
      - v*

jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install Python 3.13
        run: uv python install 3.13

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Check code quality
        run: uv run pre-commit run --all-files

      - name: Smoke test
        run: uv run pytest

      - name: Build
        run: uv build

      - name: Publish
        run: uv publish
